<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header ::header">
<title>Request Form</title>
</head>

<body>
	<div class="wrapper">
		<!--Navbar  -->
		<div th:replace="fragments/navbar ::navbar"></div>

		<!--Main Sidebar  -->
		<div th:replace="fragments/sidebar ::sidebar"></div>

		<!--Main Body  -->
		<div class="content-wrapper">
			<h1>Request Form</h1>
			<form th:object="${request}" th:action="@{/editRequest}"
				method="POST">
				<input th:type="hidden" th:field="*{id}" /> <input type="text" id="name"
					th:field="*{name}" />
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
		<div th:replace="fragments/footer ::footer"></div>
	</div>
</body>
</html>