<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header ::header">
<title>Request Form</title>
</head>

<body>
	<div class="wrapper">
		<!--Navbar  -->
		<div th:replace="fragments/navbar ::navbar"></div>

		<!--Main Sidebar  -->
		<div th:replace="fragments/sidebar ::sidebar"></div>

		<!--Main Body  -->
		<div class="content-wrapper">
			<section class="content-header">
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">All Request</a></li>
					<li class="active">Request Form</li>
				</ol>
			</section>

			<!--Main Content  -->
			<section class="content">
				<div class="col-md-6">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Blood Request Form</h3>
						</div>
					</div>

					<form class="form-horizontal" th:object="${request}" method="post"
						th:action="@{/request/postRequest}">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-3 control-label">First Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{firstName}"
										placeholder="First Name"> <label
										th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{firstName}" class="validation-message"> </label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Last Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{lastName}"
										placeholder="Last Name"> <label
										th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}" class="validation-message"> </label>
								</div>
							</div>

							<!--Blood Group  -->
							<div class="form-group">
								<label class="col-sm-3 control-label">Blood Group</label>
								<div class="col-sm-9">
									<select class="form-control" id="sel1" th:field="*{group}">
										<option value="" disabled>Select a blood group</option>
										<option value="A+">A+</option>
										<option value="A-">A-</option>
										<option value="B+">B+</option>
										<option value="B-">B-</option>
										<option value="AB+">AB+</option>
										<option value="AB-">AB-</option>
										<option value="O+">O+</option>
										<option value="O-">O-</option>
									</select>
								</div>
							</div>
							<!--Contact Address  -->
							<div class="form-group">
								<label class="col-sm-3 control-label">Address</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{address}"
										placeholder="Eg. Maitighar, Kathmandu"> <label
										th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
										class="validation-message"> </label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">Required Date</label>
								<div class="col-sm-9">
									<input type="date" class="form-control"
										th:field="*{requiredDate}"> <label
										th:if="${#fields.hasErrors('requiredDate')}"
										th:errors="*{requiredDate}" class="validation-message">
									</label>
								</div>
							</div>
						</div>

						<!--Alert Message  -->
						<div class="alert alert-danger">Please fill out all the
							fields.</div>
						<div class="box-footer">
							<button type="clear" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-info pull-right">Update
							</button>
						</div>

					</form>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/footer ::footer"></div>

</body>
</html>