<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<!--WebJars  -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/AdminLTE/2.4.3/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/AdminLTE/2.4.3/dist/css/skins/_all-skins.min.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
.validation-message {
	color: red;
}
</style>
</head>
<body>
</body>
</html>