<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header ::header">

</head>
<body>
	<div th:fragment="navbar">
		<header class="main-header">
			<!-- Logo -->
			<a href="#" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Hello</b> Blood Donor</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Control Sidebar Toggle Button -->
						<li><a th:href="@{/logout}" id="sign_out">Sign Out <i
								class="fas fa-sign-out-alt"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
	</div>

	<!--Public Navbar  -->
	<div th:fragment="public-navbar">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<img th:src="@{/img/logo.png}" alt="Logo" class="logo">
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/home}">Home</a></li>
						<li><a th:href="@{/why-donate}">Why donate blood?</a></li>
						<li><a th:href="@{/who-can-donate}">Who can donate?</a></li>
						<li><a th:href="@{/registration}">Become a donor</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/login}"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>