<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--CSS for public pages -->
<link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}" />
</head>

<body>
	<!--Public Navbar  -->
	<div th:include="fragments/navbar::public-navbar"></div>

	<!--Carousel  -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img th:src="@{/img/car2.jpg}" alt="Carousel" class="car">
				<div class="carousel-caption"></div>
			</div>

		</div>

		<div class="container text-center">
			<br>
			<hr>
			<div class="row">
				<div class="col-sm-4 col-xs-6 tab"
					style="background-color: #8e8e8e; color: white;">
					<div class="page-header">
						<h3>Blood Donation News & Events</h3>
					</div>
					<ul style="text-align: left;">
						<li><a
							href="https://www.tapinto.net/towns/roxbury/sections/health-and-wellness/articles/red-cross-calls-for-summer-blood-donations-to-pre-15">Red
								Cross Calls for Summer Blood Donations</a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>

				<!--Blood Requests Tab  -->
				<div class="col-sm-4 col-xs-6 tab"
					style="background-color: #bf360c; color: white;">
					<div class="page-header">
						<h3>Blood Requests</h3>
					</div>
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>ID</th>
								<th>Name</th>
							</tr>
							<tr th:each="request : ${requests}">
								<td th:text="${request.id}"></td>
								<td th:text="${request.name}"></td>
							</tr>
						</table>
					</div>
				</div>


				<div class="col-sm-4 col-xs-12 tab">
					<div class="container-fluid">
						<div class="page-header">
							<h3>Contact Us:</h3>
						</div>
						<form role="form" id="contact-form" class="contact-form">
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control" name="Name"
										autocomplete="off" id="Name" placeholder="Name">
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control" name="Name"
										autocomplete="off" id="email" placeholder="Email">
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<textarea class="form-control textarea" rows="3" name="Message"
										id="Message" placeholder="Message"></textarea>
								</div>
							</div>
							<button type="submit" class="btn main-btn pull-right">Send
								a message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

	<!--Footer  -->
	<div th:include="fragments/footer::footer"></div>
</body>
</html>
