<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Blood Bank : Login</title>

<!--WebJars  -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<!--Theme Style  -->
<link rel="stylesheet"
	th:href="@{/webjars/AdminLTE/2.4.3/dist/css/AdminLTE.min.css}" />
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a th:href="@{/home}"><b>Hello Blood Donor</b></a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<form th:action="@{/login}" method="POST">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" th:placeholder="Email"
						id="email" name="email">
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control"
						th:placeholder="Password" id="password" name="password">
				</div>

				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password
						invalid, please verify</p>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
						In</button>
				</div>
			</form>
			<br /> <a th:href="@{/registration}"
				class="btn btn-block btn-flat btn-success">Register a new
				membership</a>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
</body>
</html>